<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Something Random</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  
  <nav>
    <ul id="primary">
      <li><a title="home" href="/">🏠</a></li>
      <li><a title="another one!" href="">🎲</a></li>
      {% if categories %}
      <li><a title="categories" href="javascript:void(0);" onclick="burgerToggle()">🍔</a></li>
      {% endif %}
    </ul>
    {% if categories %}
    <ul id="cats">
      {% for cat in categories %}
      <li><a href="{{ cat.href }}">{{ cat.href|replace('/', '') }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
  {% if media_url %}
    {% if media_type == 'image' %}
      <img src="{{ media_url }}">
    {% else %}
      <video onloadeddata="this.play()" playsinline autoplay muted controls>
        <source src="{{ media_url }}" type="video/mp4">
      </video>
    {% endif %}
  {% else %}
    <h1>Nothing found!</h1>
  {% endif %}

  <script>
    function burgerToggle() {
      let x = document.getElementById("cats");
      
      if (x.style.display === "block") {
          x.style.display = "none";
      } else {
          x.style.display = "block";
      }
  }
  </script>
</body>
</html>